<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163711233310-iubvefv1pgnir5upmvml2mhguvb9gdsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163711233310-iubvefv1pgnir5upmvml2mhguvb9gdsv</string>
	<key>API_KEY</key>
	<string>AIzaSyAE8jJtBL_HsKktG-q1FLvLVlTiXedShEw</string>
	<key>GCM_SENDER_ID</key>
	<string>163711233310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.InstagramClonRN</string>
	<key>PROJECT_ID</key>
	<string>instagramclonazo</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonazo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163711233310:ios:40ff504fbb35a0f6ffad0f</string>
</dict>
</plist>